/*css var */
:root {
    --yellow: #F4D04E;
    --gray950: #111111;
    --gray500: #6B6B6B;
    --white: #FFFFFF;
    --blue: #3e52a3;
}

/* inbuild css */

.attribution { 
    font-size: 11px;
    font-weight:400;
    text-align: center;  
    margin: 20px;
}
.attribution a { 
    color: var(--blue);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--gray950);
}
/*my personal code starts here*/ 

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.card {
    width: 384px;
    height: 522px;
    background-color: var(--white);
    border: 1px solid var(--gray950);
    border-radius: 20px;
    box-shadow: 5px 10px;
}

.card img {
    width: 336px;
    height: 201px;
    margin: 24px;
    border-radius: 10px;
    
}

.card .content {
    margin: 0 24px;
}

button {
    background-color: var(--yellow);
    width: 82px;
    height: 29px;
    padding: 4px 12px; 
    border: none;
    border-radius: 4px;
    font-family: 'Figtree', sans-serif;
    font-weight: 800; /* Extra Bold */
    font-size: 14px;
    line-height: 150%; /* or 21px */
    letter-spacing: 0px;
}

.content h5 {
    margin: 12px 0;
    font-family: 'Figtree', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 14px;
    line-height: 150%; /* or 21px */
    letter-spacing: 0px;
}

.content h2:hover {
    color: var(--yellow);
}

.content h2 {
    margin: 12px 0;
    font-family: 'Figtree', sans-serif;
    font-weight: 800; /* Extra Bold */
    font-size: 24px;
    line-height: 150%; /* or 36px */
    letter-spacing: 0px;
}

.content p {
    margin: 12px 0 0 0;
    color: var(--gray500);
    font-family: 'Figtree', sans-serif;
    font-weight: 500; /* Medium */
    font-size: 16px;
    line-height: 150%; /* or 24px */
    letter-spacing: 0px;
}

.autor { 
    width: 129px;
    height: 32px;
    margin: 24px;
    display: flex;
    align-items: center;
    font-family: 'Figtree', sans-serif;
    font-weight: 800; /* Extra Bold */
    font-size: 14px;
    line-height: 150%; /* or 21px */
    letter-spacing: 0px;
}

.autor img {
    width: 32px;
    height: 32px;
    margin: 0 12px 0 0;
}